*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

    background: white no-repeat center/cover;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}